daily_weather + fb_post/part_4/Daily Weather + FB Post - Part 4.json
{
  "name": "Daily Weather - Tutorial Part 4",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        208
      ],
      "id": "58f12c50-f08e-45c7-8644-6840123a2537",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44dab8d1-bb0e-4bb9-8808-2cdbb33c0d38",
              "name": "weather",
              "value": "={{ $json.weather[0].main }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        208
      ],
      "id": "05a95aa7-8454-460c-be91-24c0ec0bbbc3",
      "name": "Extract Weather"
    },
    {
      "parameters": {
        "cityName": "manila,ph"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "0bb8bace-3615-464e-b6f0-bf457dc91582",
      "name": "Current Weather",
      "credentials": {
        "openWeatherMapApi": {
          "id": "D1ry60W363kLGb7z",
          "name": "OpenWeatherMap"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "simplify": false,
        "options": {
          "systemMessage": "=- You are a great motivator\n- You provide short quotes\n\nThe quotes you provide are either one or combinations of the following:\n- Inspirational\n- Motivational\n- Philosophical\n- Wisdom\n- Success\n- Short and Minimalist\n- Thought provoking\n\nIt is important that you ONLY provide SHORT quotes, preferably a phrase or one sentence.\n\nProvide ONLY the quote. Nothing else. Do not put it in quotations.\n\nThe quote you will provide will be the quote of the day for the user. Thus, ensure to enlighten their day.\n\nid: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1d5b71ff-4d12-4bc3-923d-2478eb22fd96",
      "name": "Get Quote",
      "credentials": {
        "googlePalmApi": {
          "id": "pFjzNnFni80ag8Lj",
          "name": "Gemini kl nb"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1_zz5PSjQgRU2DHPhVydmzUiVFWS6uLix",
            "mode": "list",
            "cachedResultName": "daily_weather_image_template",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1_zz5PSjQgRU2DHPhVydmzUiVFWS6uLix"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        32,
        416
      ],
      "id": "78780006-08f4-4e3d-845f-20433ff92ec3",
      "name": "Get Image Template File Names",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eoEm2ICBNMuJKmhr",
          "name": "GD kl nb"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f12eccfc-ae3d-4e3d-ab0f-631fc4fa9425",
              "name": "image_template_file_names",
              "value": "=- {{ $input.all().map(item => item.json.name).join('\\n- ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        416
      ],
      "id": "c2fb3e92-6dca-4d66-bc4f-61642219c3fc",
      "name": "Extract Image Template File Names",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1296,
        288
      ],
      "id": "9e14ddd5-4663-4774-92ac-6c7e266644f7",
      "name": "Download Image Template",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eoEm2ICBNMuJKmhr",
          "name": "GD kl nb"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b27d80b-65fc-47dd-adf1-662c138716da",
              "name": "id",
              "value": "={{ $('Get Image Template File Names').all().find(item => item.json.name === $json.content.parts[0].text).json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        288
      ],
      "id": "7f924acd-c191-424f-a938-9619e7fceaed",
      "name": "Image Template ID"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite-preview-06-17",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite-preview-06-17"
        },
        "messages": {
          "values": [
            {
              "content": "=Weather:  {{ $json.weather }}\nFile Names:\n{{ $json.image_template_file_names }}"
            }
          ]
        },
        "options": {
          "systemMessage": "Your only task is to provide a file name, NOTHING ELSE.\n\nYou will be given two data:\n- Weather\n- File Names\n\nBased on the Weather, you will pick the appropriate file name (only from the given file names)\n\nIt is VERY IMPORTANT that you respond with ONLY ONE file name and that it is the EXACT file name from the given list.\n\n- DO NOT provide any other details other than the file name\n- DO NOT put your response in quotation, just the file name\n- DO NOT put any punctuation mark at the end. It should just be the file name"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        736,
        288
      ],
      "id": "ac466a60-37dc-47f0-832d-8ae710d667b1",
      "name": "Image Template File Name To Use",
      "credentials": {
        "googlePalmApi": {
          "id": "pFjzNnFni80ag8Lj",
          "name": "Gemini kl nb"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        528,
        288
      ],
      "id": "3e9e9469-1f2f-4b0a-9540-e447264dca77",
      "name": "Weather + File Names"
    }
  ],
  "pinData": {
    "Current Weather": [
      {
        "json": {
          "coord": {
            "lon": 120.9822,
            "lat": 14.6042
          },
          "weather": [
            {
              "id": 501,
              "main": "Rain",
              "description": "moderate rain",
              "icon": "10n"
            }
          ],
          "base": "stations",
          "main": {
            "temp": 25.76,
            "feels_like": 26.79,
            "temp_min": 25.76,
            "temp_max": 25.76,
            "pressure": 1009,
            "humidity": 92,
            "sea_level": 1009,
            "grnd_level": 1012
          },
          "visibility": 10000,
          "wind": {
            "speed": 2.33,
            "deg": 213,
            "gust": 2.86
          },
          "rain": {
            "1h": 1.68
          },
          "clouds": {
            "all": 100
          },
          "dt": 1758724248,
          "sys": {
            "country": "PH",
            "sunrise": 1758663911,
            "sunset": 1758707473
          },
          "timezone": 28800,
          "id": 1701668,
          "name": "Manila",
          "cod": 200
        }
      }
    ],
    "Get Quote": [
      {
        "json": {
          "candidates": [
            {
              "content": {
                "parts": [
                  {
                    "text": "Embrace the journey, for the path itself is the reward."
                  }
                ],
                "role": "model"
              },
              "finishReason": "STOP",
              "index": 0
            }
          ],
          "usageMetadata": {
            "promptTokenCount": 144,
            "candidatesTokenCount": 13,
            "totalTokenCount": 249,
            "promptTokensDetails": [
              {
                "modality": "TEXT",
                "tokenCount": 144
              }
            ],
            "thoughtsTokenCount": 92
          },
          "modelVersion": "gemini-2.5-flash",
          "responseId": "7QLUaK79Hpi3qtsP8sPBwAg"
        }
      }
    ],
    "Get Image Template File Names": [
      {
        "json": {
          "id": "1Smq2Ln9PFdjvVlV3mpUmwu4hPXimySyp",
          "name": "sunny.png"
        }
      },
      {
        "json": {
          "id": "1PdRgt7QB4VmeyZzL9ngRiSQ6FqscnGAo",
          "name": "rainy.png"
        }
      },
      {
        "json": {
          "id": "1HGdQb4MlCtS1r7y0UT8iIPY52USOqRZ8",
          "name": "cloudy.png"
        }
      }
    ],
    "Image Template File Name To Use": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "rainy.png"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Current Weather",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Quote",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Image Template File Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Current Weather": {
      "main": [
        [
          {
            "node": "Extract Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image Template File Names": {
      "main": [
        [
          {
            "node": "Extract Image Template File Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Weather": {
      "main": [
        [
          {
            "node": "Weather + File Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Image Template File Names": {
      "main": [
        [
          {
            "node": "Weather + File Names",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Image Template ID": {
      "main": [
        [
          {
            "node": "Download Image Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Template File Name To Use": {
      "main": [
        [
          {
            "node": "Image Template ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weather + File Names": {
      "main": [
        [
          {
            "node": "Image Template File Name To Use",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a82c0435-eee4-4ecc-9f28-b148a38a8510",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7bf57e14f977a092d84939cb894297bcb7252b02c299857ac5721d4a9d18532"
  },
  "id": "HFbQyas4qYwCa7pn",
  "tags": []
}